/* Desenvolva sua estilização aqui... */
.header{
    width: 100%;
    height: 735px;
    background-image: url('/assets/img/WomamBg.png');
    background-position: center;
    background-repeat: no-repeat;
}

.header > .headerContainer {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 150px 0 0 0 ;
    gap: 40px;
    color: var(--color-grey-6);
}

.header > .headerContainer > h2{
    font-size: 48px;
}

.header > .headerContainer >button{
    width: 296px;
    padding: 12px 50px;
    border: none;
    border-radius: var(--radius-default);
    background-color: var(--color-brand-1);
    color: var(--color-grey-6);
    cursor: pointer;
    transition: 150ms;
}

.header > button:hover{
    background-color: var(--color-brand-2);
}

@media (min-width: 1600px) {
    .header{
        background-size: 1920px;
    }
}