.left{
    width: 100%;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left > ol{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right{
    max-width: 503px;
    width: 100%;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color-grey-6);
    box-shadow: 0.1px 0.1px 3px rgba(173, 173, 173, 0.499);
}
