.left{
    width: 100%;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left > ol{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right{
    width: 1000px;
    min-height: 280px;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--color-grey-6);
    box-shadow: 0.1px 0.1px 3px rgba(173, 173, 173, 0.499);
}


@media (max-windth: 991px){
    .right{
        width: 100%;
    }
}